<div class="container" id="<%= dom_id location %>">
   <p>
    <strong>Name:</strong>
    <%= "#{location.name} (#{location.state})" %>
  </p>
  <p>
    <strong>Latitude:</strong>
    <%= location.latitude %>
  </p>
  <p>
    <strong>Longitude:</strong>
    <%= location.longitude %>
  </p>
  <p>
    <ul class="nav nav-tabs">
    <% if @current_pollution_records %>
      <li class="active"><a data-toggle="tab" href="#home"><strong>Pollution Concentrations history: <%= @current_pollution_records.count %></strong></a></li>
    <% end %>

    <% if @historic_pollution_records %>
      <li><a data-toggle="tab" href="#menu1"><strong>Monthly Historical Air Quality: <%= @historic_pollution_records.historic_air_pollution_data.count %></strong></a></li>
    <% end %>
  </ul>
    
    <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
        <table class="table table-striped">
        <thead>
          <tr>
            <th>CO</th>
            <th>SO2</th>
            <th>O3</th>
            <th>PM25</th>
            <th>PM10</th>
            <th>NO2</th>
            <th>AQI</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
        <% if @current_pollution_records %>
          <% @current_pollution_records.each_with_index do |p, idx| %>
            <tr>
              <td><%= p[:co] %></td>
              <td><%= p[:so2] %></td>
              <td><%= p[:o3] %></td>
              <td><%= p[:pm25] %></td>
              <td><%= p[:pm10] %></td>
              <td><%= p[:no2] %></td>
              <td><%= p[:aqi] %></td>
              <td><%= p[:created_at] %></td>
            </tr>
          <% end %>
          </tbody>
          </table>
          <p>
          <strong>Average AQI:</strong>
          <%= location.average_air_quality_index(@current_pollution_records.count) %>
        <% end %>
        </p>
      </div>
      
       <div id="menu1" class="tab-pane fade">
         <table class="table table-striped">
          <thead>
            <tr>
              <th>CO</th>
              <th>SO2</th>
              <th>O3</th>
              <th>PM25</th>
              <th>PM10</th>
              <th>NO2</th>
              <th>AQI</th>
            </tr>
          </thead>
          <tbody>
          <% if @historic_pollution_records %>
            <% @historic_pollution_records.historic_air_pollution_data.each do |p| %>
              <tr>
                <td><%= p['co'] %></td>
                <td><%= p['so2'] %></td>
                <td><%= p['o3'] %></td>
                <td><%= p['pm25'] %></td>
                <td><%= p['pm10'] %></td>
                <td><%= p['no2'] %></td>
                <td><%= p['aqi'] %></td>
              </tr>
            <% end %>
          
        </tbody>
        </table>
          <p>
          <strong>Extracted on:</strong>
          <%= @historic_pollution_records.created_at %>
          <% end %>
        </p>
       </div>
    </div>

</div>